@import "tailwindcss";

.particle {
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.2);
    animation: float 25s infinite linear;
}

@keyframes float {
    0% {
        transform: translateY(0px) translateX(0px);
    }
    50% {
        transform: translateY(-100px) translateX(50px);
    }
    100% {
        transform: translateY(0px) translateX(0px);
    }
}

@keyframes twinkle {
    0%, 100% {
        opacity: 0.6;
        transform: scale(0.9);
    }
    50% {
        opacity: 1;
        transform: scale(1);
    }
}

.star {
    position: absolute;
    background-color: #d8b4fe;
    border-radius: 50%;
    animation: twinkle 4s infinite ease-in-out;
}